body{
    background:#f4f6f9;
    font-family:Arial, Helvetica, sans-serif;
}

.login-container{
    width:400px;
    margin:80px auto;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}